<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h1>
      <%= @writing.title %>
      <small><%= @writing.writer.display_name %></small>
    </h1>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12">
    <pre><%= @writing.body %></pre>
  </div>
</div>