<div class="row">
  <div class="col-sm-6">
    <ul class="list-group">
      <% @today.each do |keyword| %>
        <li class="list-group-item"><%= keyword %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="list-group">
      <% @yesterday.each do |keyword| %>
        <li class="list-group-item"><%= keyword %></li>
      <% end %>
    </ul>
  </div>
</div>
