.errors {
  header {
    h1 {
      color: $mainColor;
      font-weight: normal;
      text-align: center;
      font-size: 70pt;
      line-height: 65pt;

      > small {
        display: block;
        font-size: 25pt;
        line-height: 20pt;
        margin-bottom: 20px;
      }
    }
  }

  p {
    @include opacity(0.5);
    text-align: center;
    font-size: 10pt;
  }
}
