<h4><time ><span class="month_day"><%= date.strftime "%Y年%m月%d日" %></span><span class="weekday">（<%= date.strftime "%a" %>）</span></time></h4>

<ol class="timeline panel">
  <% activities.each do |activity| %>
    <%= render "activities/#{activity.type.downcase}", activity: activity %>
  <% end %>
</ol>
