<section class="errors content-panel">
  <header>
    <h1>500 <small>Internal Server Error</small></h1>
  </header>

  <div class="content-body">
    <p>アクセスしようとしたページは表示できませんでした。</p>
    <p>しばらく時間をおいても表示できない場合は、ウィンドウ右下のご意見・ご要望からお問い合わせください。</p>
  </div>
</section>
