  <li class="item">
    <%= link_to follow do %>
      <%= image_tag follow.image.thumbnail, width: 48, height: 48, class: 'thumbnail', alt: '' %>
      <h3><%= follow.name %></h3>
      <p class="excerpt"><%= follow.excerpt %></p>
    <% end %>
  </li>
