<div class="mass-container">
  <h1><%= heading 'campaigns' %></h1>
  <div class="content-panel">
    <div class="coming-soon">
      <p><%=t 'messages.campaigns_are_empty' %></p>
      <p><%=t 'messages.coming_soon' %></p>
    </div>
  </div>
</div>
