<li class="item">
  <%= link_to news do %>
    <%= image_tag news.image.thumbnail, width: 300, height: 200 %>
    <div class="title"><%= news.title %></div>
    <time><%=l (news.published_at || news.updated_at), format: :short %></time>
  <% end %>
</li>
