<li class="item">
  <%= link_to serial do %>
    <%= image_tag serial.image.thumbnail, width: 200, height: 200 %>
    <div class="title"><%= serial.title %></div>
    <time><%=l serial.published_at, format: :short %></time>
  <% end %>
</li>
