<div class="mass-container">
  <h1><%= heading 'serials' %></h1>

  <% if @serials.any? %>
    <div class="content-panel">
      <div class="content-body">
        <header>
          <ul itemtype="http://data-vocabulary.org/Breadcrumb"  class="breadlist">
            <li><%= link_to '＜ コラムのトップへ戻る', columns_path %></li>
          </ul>

          <h1 class="list-heading">コラム連載一覧</h1>
        </header>
        <section>
          <ul class="columns-list">
            <% @serials.each do |serial| %>
              <%= render 'serials/item', serial: serial %>
            <% end %>
          </ul>
        </section>
      </div>
    </div>
    <% end %>
</div>
