<div class="regulation">
  <h3>【 I 秘密保持について】</h3>
  <p>
    現在、 Kirari の開発は非公開情報です。<br>
    正式版を公開するまでは、以下のような行為は行わないでください。
  </p>
  <ol>
    <li>サービスの内容に関する情報を含む・含まないにかかわらず、「ユーザーテストを行っている」という事実を第三者に知らせること。</li>
    <li>Kirari のコンセプト、機能に関する情報や意見などを第三者に知らせること。</li>
    <li>競合他社のサイトなどに関する情報や意見を不特定多数に尋ねること。</li>
    <li>Kirari という名称について第三者に知らせること。</li>
  </ol>
  <p>
    以上4点については、公開対象が制限されているSNS等への書き込みもNGです。<br>
    また間接的・断片的な情報であっても、基本的に公開はNGです。<br>
    家族の意見を聞くなどは、必要最小限の範囲であれば構いません。<br>
  </p>
  <h3>【 II 掲載されているデータについて】</h3>
  <p>運営側が登録している商品データを含め、サイト内の内容の正確性は保証していません。</p>
  <h3>【 III 投稿データの扱いについて】</h3>
  <ul>
    <li>投稿データをそのまま正式版で使用するかどうかは未定です。</li>
    <li>テスト版のため、不具合でデータが消失する可能性があります。</li>
    <li>投稿データは各種資料にサンプルとして掲載することがあります。</li>
  </ul>
</div>
