<% page_heading t('views.heading.search_result') %>
<div class="sectioning-container mass-container search-result">

  <section class="content-panel">
    <header>
      <h2><%=t 'views.search_result_reports', query: @keywords %></h2>
    </header>

    <div class="content-body">
      <% if @reports.length > 0 %>
        <ul class="writings-list">
          <% @reports.each do |item| %>
            <%= render "writings/item", writing: item %>
          <% end %>
        </ul>
        <%= paginate @reports %>
      <% else %>
        <p class="no-items active"><%=t 'views.label.no_searched_items' %></p>
      <% end %>
    </div>
  </section>

</div>
